body{
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat-Bold';
    font-weight: bold;
}

p{
  color: #8f8f8f;
}

/*Headings*/

.big-heading{
  font-family: 'Montserrat-Black';
  font-weight: bold;
  size: 3rem;
  line-height: 1.5;
}

.section-heading{
  size: 3rem;
  line-height: 1.5;
}

.feature-title{
  font-size: 1.5rem;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* Sections */

.color-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Container */

.container-fluid{
    padding: 7% 15%;
}

/* Specific formatting */
.title-image{
  max-height: 50%;
  transform: rotate(25deg);
  position: absolute;
  margin-right: 30px;
}

/* Navigation */
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar{
  padding-bottom: 4.6rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat';
}

.download-button{
  margin: 3% 2%;
}


#features{
  position: relative;
  z-index: 1;
}

.featurebox{
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff4c68;
}

/*Testimonials*/

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  size: 3rem;
  line-height: 1.5;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

/* Press */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;

}

.press-logo{
  width: 15%;
  margin: 30px 20px 40px;
}

.btn{
  width: 50%;
}
.btn-cta{
  width: 30%;
}

/* Pricing */

#pricing{
  padding: 100px;
}

.price-text{
  size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding:20px;
}

/* Footer */

.ftr, .footer-para{
  margin: 7.5px;
}


/* Media propert*/

@media (max-width: 1355px) {

  .title-image{
    position: static;
    transform: rotate(0);
  }

}
